$main: #0FB9D4;
$secondary: #F5F4F6;
$darkText: #333;
$lightText: #999;

$white: #fefefe;
$blue: #1687A3;
$pink: #df7296;


//-- some other variables --
$border-rad: 3px;
$box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$text-shadow: 2px 2px 4px #fff;