@import "reset";
@import "colors";
@import "typography";

body {
  font-family: 'Open Sans', sans-serif;
  background: $secondary;
  text-align: center;
}

.container {
  width:100%;
  max-width:992px;
  min-height:100%;
  margin: 0 auto;
  position: relative;
}

.brand {
  font-size: 3rem;
  color: $lightText;
  text-shadow: $text-shadow;
  padding: 1rem;
  text-align: left;
}

.welcome {
  color: $lightText;
  text-shadow: $text-shadow;
}

.search {
  margin-bottom: 20px;
  padding: 2rem;
  background: $main;
  border-radius: $border-rad;
  box-shadow: $box-shadow;
  display: flex;

  &__input {
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    border-top-left-radius: $border-rad;
    border-bottom-left-radius: $border-rad;
    outline: none;
    border: none;
  }

  &__button {
    font-size: 1.5rem;
    padding: 1rem;
    border-top-right-radius: $border-rad;
    border-bottom-right-radius: $border-rad;
    outline: none;
    border: none;

    &:active {
      font-size: 1.4rem;
    }
  }
}

.items {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    li {
      list-style: none;
    }
  }
}

.item {
  width: 48%;
  padding: 1rem;
  text-align: left;
  background: $white;
  margin: 0.6rem 0;
  border-radius: $border-rad;
  box-shadow: $box-shadow;

  &__img {
    float: left;
    margin-right: 1rem;
  }

  &__title {
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
  }

  &__desc {
    font-size: 1.5rem;
  }
}

.toastr {
  color: $white;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: $border-rad;
  border-top-right-radius: $border-rad;
  cursor: pointer;
  display: none;
  position: fixed;

  &.show {
    display: block;
  }

  &.loading{
    background: $blue;
  }

  &.error {
    background: $pink;
  }

  h2 {
    padding: 10px;
    margin:0;
  }
}

@media (max-width:768px) {
  .brand {
    text-align: center;
  }

  .item {
    width: 96%;

    &__title {
      font-size: 2rem;
    }
  
    &__desc {
      font-size: 1.3rem;
    }
  }
}